body{
    background: black;
  }
  
  #container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  
  @media screen and (max-width: 850px){
    #container{
     margin: 0 0 0 15%;
    }
  }
  
  @media screen and (max-width: 750px){
    #container{
      margin: 0; 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  h1{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    grid-column: 2/3;
    font-size: 5rem;
    margin: 150px 0 0 0;
  }
  
  @media screen and (max-width: 850px){
    h1{
      margin: 90px 0 0 0;
    }
  }
  
  @media screen and (max-width: 750px){
    h1{
      font-size: 3rem;
      margin: 250px 0 0 0;
    }
  }
  
  #wheel{
    position: absolute;
    background-color: none;
    grid-column: 1/2;
    justify-self: center;
    margin: 225px 475px 0 0;
  }
  
  @media screen and (max-width: 850px){
    #wheel{
      position: relative;
      margin: 225px 150px 0 0;
    }
  }
  
  @media screen and (max-width: 750px){
    #wheel{
      position: relative;
      margin: 150px 15% 0 0;
    }
  }
  
  .circle{
    display:block;
    position:absolute;
    width: 70px;
    height: 70px;
    border-style: none;
    border-radius: 50%;
    margin: 20px 0 0 0;
    transform: 150px;
  }
  
  #red{
    background-color: #FE0000;
    transform: rotate(270deg) translate(150px);
  }
  
  #redOrange{
    background-color: #FF6600;
    transform: rotate(300deg) translate(150px);
  }
  
  #orange{
    background-color: #FE9900;
    transform: rotate(330deg) translate(150px);
  }
  
  #orangeYellow{
    background-color: #FFCC00;
    transform: rotate(0deg) translate(150px);
  }
  
  #yellow{
    background-color: #FFFF01;
    transform: rotate(30deg) translate(150px);
  }
  
  #yellowGreen{
    background-color: #66CB01;
    transform: rotate(60deg) translate(150px);
  }
  
  #green{
    background-color: #009900;
    transform: rotate(90deg) translate(150px);
  }
  
  #greenBlue{
    background-color: #00CCCD;
    transform: rotate(120deg) translate(150px);
  }
  
  #blue{
    background-color: #0066CB;
    transform: rotate(150deg) translate(150px);
  }
  
  #bluePurple{
    background-color: #670099;
    transform: rotate(180deg) translate(150px);
  }
  
  #purple{
    background-color: #990099;
    transform: rotate(210deg) translate(150px);
  }
  
  #purpleRed{
    background-color: #CD0099;
    transform: rotate(240deg) translate(150px);
  }
  
  #controls{
    grid-column: 2/3;
    justify-self: start;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0;
  }
  
  .dropshadow{
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse{
      0% {
          filter: drop-shadow(0px 0px 5px white);
      }
      
      60% {
          filter: drop-shadow(0px 0px 15px white);
      }
      
      100% {
          filter: drop-shadow(0px 0px 5px white);
      }
  }
  
  #dropdown{
    width: 150px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  button{
    width: 100px;
    height: 35px;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  @media screen and (max-width: 750px){
    button{
      width: 85px;
      height: 25px;
      font-size: 15px;
    }
    #dropdown{
      height: 25px;
      font-size: 10px;
    }
  }
  
  .hide{
    display: none;
  }
  
  #colors{
    grid-column: 2/3;
    margin: 0;
  }
  
  @media screen and(max-width: 750px){
    #colors{
      position: absolute;
      margin: 100px 0 0 0;
    }
  }
  
  .colorname{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin: 10px 0 0 0;
    opacity: 0.5;
  }